.lists__item
  .lists__item__header
    = list.name
  .lists__item__content
    .lists__item__content__card
      test
    .lists__item__content__card
      test
    .lists__item__content__card
      test
  .lists__item__newlink
    .lists__item__newlink__link
      カードを追加
