.lists__item
  .lists__item__header
    = list.name
  .lists__item__content
    .lists__item__content__card
      test
    .lists__item__content__card
      test
    .lists__item__content__card
      test
  .lists__item__newlink
    = link_to "カードを追加", "./new", class: "lists__item__newlink__link"
