= render "shared/header"
.board-main-content{ class: "#{@board.color}-content" }
  .board-header ボード名
  .board-list-content
    .lists
      .lists__item
        .lists__item__header
          リスト１
        .lists__item__content
          test
      .lists__item
        .lists__item__header
          リスト２
        .lists__item__content
          test
      .lists__item
        .lists__item__header
          リスト3
        .lists__item__content
          test
