%header
  %h1 Trello
  .initial T
%main
  = fa_icon "user-circle-o"
  %h2 パーソナルボード
  %ul.board-list
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board board name
    %li.board__new 新しいボードを作成
