.header
  .header__title Trello
  .header__initial T
.main
  .main__header
    = fa_icon "user-circle-o lg", class: "main__header__icon"
    %h2.main__header__name パーソナルボード
  .main__conteiner
    %ul.board-list
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board board name
      %li.board-list__board--new 新しいボードを作成
