html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.link-icon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.header {
  position: fixed;
  height: 30px;
  width: calc(100vw - 10px);
  background-color: #026AA7;
  padding: 5px;
  &__title {
    position: relative;
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    color: #ddd;
  }
  &__initial {
    background-color: #d6dadc;
    color: #4d4d4d;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 6px 4px 4px;
    font-size: 9pt;
    font-weight: 700;
    border-radius: 4px;
  }
}

.main {
  overflow-y: auto;
  margin-top: 40px;
  padding: 20px 20px 0;
  height: calc(100vh - 60px);
  @include scrolloff;
  &__header {
    max-width: 1200px;
    margin: 0 auto;
    height: 40px;
    @include clearfix;
    &__icon {
      float: left;
      line-height: 23px;
      margin-right: 13px;
    }
    &__name {
      float: left;
      line-height: 24px;
      font-weight: 700;
    }
  }
  .board-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    &__board {
      font-size: 1pc;
      font-weight: 700;
      color: #fff;
      @include board-color(0, 0, 255);
      height: 105px;
      margin-bottom: 15px;
      flex: 1 1 240px;
      position: relative;
      border-radius: 5px;
      &:not(:last-child) {
        margin-right: 15px;
      }
      &.empty {
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      .board_link {
        position:absolute;
        top: 0;
        left: 0;
        width: calc(100% - 20px);
        height: calc(100% - 10px);
        padding: 5px 10px 5px;
        text-decoration: none;
        &:link { color: white; }
        &:visited { color: white; }
        &:hover {
          color: white;
          border-radius: 5px;
        }
        &:active { color: white; }
      }
      &.new_board {
        @include board-color(226, 228, 230);
        position: relative;
        .board_link {
          color: #8c8c8c;
          font-weight: 400;
          text-align: center;
          line-height: 95px;
          font-size: 0.9rem;
        }
      }
    }
  }

  .pop-over {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    position: fixed;
    width: 300px;
    padding: 5px;
    right: 5px;
    top: 45px;
    display: none;
    &__header {
      position: relative;
      i {
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }

    .content-list {
      margin: 7px 0 0;
      padding: 7px 0 0;
      border-top: 1px solid #D6DADC;
      &__item {
        text-decoration: none;
      }
    }

    &.is-shown {
      display: block;
    }

    &__board {
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #D6DADC;
      border-bottom-color: #C4C9CC;
      box-shadow: 0 1px 6px rgba(0,0,0,.15);
      width: 300px;
      padding: 5px;
      color: #4d4d4d;
      z-index: 100;
      display: none;
      &__header {
        position: relative;
        i {
          position: absolute;
          right: 3px;
          top: 3px;
        }
      }
      &.is-shown {
        display: block;
      }
    }
  }
}
