.board-main-content {
  margin-top: 40px;
  height: 100%;
  width: 100%;
  &.blue-content {
    background-color: rgb(0, 121, 191);
  }
  &.orange-content {
    background-color: rgb(210, 144, 52);
  }
  &.green-content {
    background-color: rgb(81, 152, 57);
  }
  &.red-content {
    background-color: rgb(176, 70, 50);
  }
  &.purple-content {
    background-color: rgb(137, 96, 158);
  }
  &.pink-content {
    background-color: rgb(205, 90, 145);
  }
  &.lightgreen-content {
    background-color: rgb(75, 191, 107);
  }
  &.skyblue-content {
    background-color: rgb(0, 174, 204);
  }
  &.grey-content {
    background-color: rgb(131, 140, 145);
  }
  .board-header {
    padding: 5px 5px 5px 15px;
    font-size: 20px;
    color: white;
  }
  .board-list-content {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 80px);
  }
  .lists {
    margin: 5px;
    &__item {
      &:first-child {
        margin-left: 10px;
      }
      &:last-child {
        margin-right: 10px;
      }
      &:not(:last-child) {
        margin-right: 4px;
      }
      display: inline-block;
      vertical-align: top;
      width: 270px;
      background-color: #e2e4e6;
      border-radius: 4px;
      &__header {
        padding: 8px;
        font-size: 15px;
        font-weight: bold;
      }
      &__content {
        padding: 8px;
        font-size: 14px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        &__card {
          background-color: #fff;
          border-radius: 4px;
          padding: 5px;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      &__newlink {
        &__link {
          border-radius: 0 0 4px 4px;
          display: block;
          width: calc(100%-8px);
          padding: 8px;
          font-size: 14px;
          text-decoration: none;
          cursor: pointer;
          color: #8c8c8c;
          &:hover {
            color: #444;
            text-decoration: underline;
            background-color: #c4c6c8;
          }
        }
      }
      &.lists__item__newlist {
        padding: 4px;
        position: relative;
        &.blue-content {
          @include newlist-color(0, 121, 191);
        }
        &.orange-content {
          @include newlist-color(210, 144, 52);
        }
        &.green-content {
          @include newlist-color(81, 152, 57);
        }
        &.red-content {
          @include newlist-color(176, 70, 50);
        }
        &.purple-content {
          @include newlist-color(137, 96, 158);
        }
        &.pink-content {
          @include newlist-color(205, 90, 145);
        }
        &.lightgreen-content {
          @include newlist-color(75, 191, 107);
        }
        &.skyblue-content {
          @include newlist-color(0, 174, 204);
        }
        &.grey-content {
          @include newlist-color(131, 140, 145);
        }
        .lists__item__newlist__link {
          color: #fff;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  .pop-over__list {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c4c6c8;
    padding: 4px;
    border-radius: 4px;
    width: 270px;
    display: none;
    &.is-shown {
      display: block;
    }
    #list_name {
      background-color: #e2e4e6;
      border-radius: 4px;
      height: 35px;
      width: 263px;
    }
    .list-submit-button {
      background-image: linear-gradient(rgb(97, 189, 79) 0px, rgb(90,172,68) 100%);
      opacity: 0.9;
      box-shadow: 0 2px 0 #3f6f21;
      color: #fff;
      cursor: pointer;
      border: none;
      font-weight: bold;
      margin-top: 10px;
      width: 68px;
      height: 30px;
      border-radius: 3px;
      &:hover {
        opacity: 1.0;
      }
    }
    .popover-list-close {
      cursor: pointer;
    }
  }
}
