.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  max-width: 542px;
  width: calc(100vw - 70px);
  max-height: 600px;
  height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  background: #f0f2f4;
  z-index: 2;
  overflow-y: auto;
  &__header {
    margin-bottom: 20px;
    @include clearfix;
    .fa-edit {
      float: left;
      margin-right: 8px;
    }
    .card-name {
      float: left;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
      &.hidden {
        display: none;
      }
      &__form {
        display: none;
        &.is-shown {
          display: block;
        }
        .card-edit-form {
          float: left;
          font-size: 22px;
          font-weight: bold;
          border: none;
          border-radius: 4px;
        }
      }
    }
    .modal-close {
      float: right;
    }
  }

  &__edit-link {
    margin-left: 35px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .4);
    text-decoration: underline;
    .fa-align-left {
      margin-right: 8px;
    }
    &__form {
      .card-details-edit-form {
        border: none;
        border-radius: 4px;
        resize: none;
        height: 110px;
        max-width: 522px;
        width: calc(100vw - 90px);
      }
    }
  }

  &__comment-label {
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    .fa-comment-o {
      margin-right: 8px;
    }
  }

  &__comment-form {
    margin-bottom: 20px;
    #activity_memo {
      height: 75px;
      max-width: 522px;
      width: calc(100vw - 90px);
      border: none;
      margin: 0 auto;
      border-radius: 4px;
      resize: none;
      box-shadow: 1px 1px #e2e4e6;
    }
    .activity-submit-button {
      border: none;
      width: 68px;
      height: 30px;
      border-radius: 3px;
      color: #8c8c8c;
      background-color: #e2e4e6;
      outline: 0;
      &.active {
        cursor: pointer;
        font-weight: bold;
        background-image: linear-gradient(rgb(97, 189, 79) 0px, rgb(90,172,68) 100%);
        opacity: 0.9;
        box-shadow: 0 2px 0 #3f6f21;
        color: #fff;
        &:hover {
          opacity: 1.0;
        }
      }
    }
  }

  &__log-label {
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    .fa-list-ul {
      margin-right: 8px;
    }
  }

  &__log-list {
    margin: 0 10px;
  }

  .log-list__item {
    margin-bottom: 20px;
    padding-bottom: 5px;
    &:not(:last-child) {
      border-bottom: solid 1px #e2e4e6;
    }
    &__comment {
      padding-bottom: 8px;
      margin-bottom: 8px;
      &__text {
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 2px 2px #e2e4e6;
      }
    }
  }
  .fa {
    color: rgba(0, 0, 0, .4);
  }
}

.hidden {
  display: none;
}
